.publications {
  padding: 210px 0 60px 0;
  background-color: map-get($color, grey-bg);
  border-bottom: $border;

&__btn{
  border-radius: 10px;
  background-color: map-get($color, grey-separator);
  width: 233px;
  height: 42px;
  margin: 0 auto 30px;
  align-items: center;

  a{
    font-weight: $font-bold;
    font-size: map-get($font-size, font-size-md);
    line-height: 20px;
    color: map-get($color, main-text);
    padding: 10px 32px;
  }
  &:hover{
    background-color: map-get($color, grey-bg);
    border: $border;
    border-radius: 10px;
  }

  &-white{
    background-color: map-get($color, color-white);
    border-radius: 10px;
    border:$border;
    outline: none;
    box-shadow: none;
  }
  &-gray{
    &:hover{
      background-color: map-get($color,grey-bg);
      border: $border;
      border-radius: 10px;
      outline: none;
      box-shadow: none;
    }
    &:focus-visible{
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
}

  & .row{
    row-gap: 30px;
    margin-bottom: 60px;
  }
  &__content {
    justify-content: space-between;
    margin: 0;
    &-box {
      background-color: map-get($color, color-white);
      border-radius: 8px 8px 0 0;
      a {
        display: inline-block;
        font-weight: $font-bold;
        font-size: map-get($font-size, font-size-md);
        line-height: 20px;
        margin-bottom: 15px;
      }
      h5 {
        font-weight: $font-bold;
        font-size: map-get($font-size, font-size-xs);
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: $uppercase;
        padding-bottom: 15px;
        border-bottom: 4px solid map-get($color, grey-separator);
        color: map-get($color, grey-bg-text);
        margin-bottom: 15px;
      }
      p {
        font-weight: $font-normal;
        font-size: map-get($font-size, font-size-sm);
        line-height: 22px;
        margin-bottom: 0;
      }
    }

    &-wrapper {
      padding: 30px;
    }
    &-photo {
      @extend %background-img;
      height: 200px;
      border-radius: 8px 8px 0 0;
    }
  }

  &__more{
    a{
      font-weight: $font-bold;
      font-size: map-get($font-size,font-size-md);
      line-height: 20px;
      text-align: center;
      color: map-get($color, color-white);
      padding: 18px 30px;
      background-color: map-get($color, active-regular);
      box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
      border-radius: 12px;
      text-decoration: none;
      &:hover{
        color: map-get($color,accent-color);
        transition: $default-transition;
      }
      &:active{
        color: map-get($color, active-active);
        transition: $default-transition;
      }
    }
  }
}


